:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  width: 100vw;
  background: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80rem;
  position: relative;
}

.component {
  display: flex;
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
  overflow: hidden;
}

.component__img {
  background: url(./images/drawers.jpg) left no-repeat;
  background-size: cover;
  width: 100%;
}

.component__content {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.content--title {
  font-size: 2.2rem;
  line-height: 1.4;
  color: var(--very-dark-grayish-blue);
  padding-right: 1rem;

}

.content--description {
  color: var(--desaturated-dark-blue);
  line-height: 1.6;
  font-weight: 500;
  padding-right: 1rem;
}

.component--footer {
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--author-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content--author-box img {
  width: 4.5rem;
  border-radius: 50%;
}

.content--author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.author {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.date {
  color: var(--grayish-blue);
}

.share-icon {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  cursor: pointer;
}

.share-icon:hover {
  background: var(--desaturated-dark-blue);
  transition: all .2s;
}

.share-icon-active {
  background: var(--desaturated-dark-blue);
  transition: all .2s;
}

.share-icon:hover svg path {
  fill: var(--light-grayish-blue);
}

.fill {
  fill: var(--light-grayish-blue);
}

.component--socials {
  position: absolute;
  bottom: 10rem;
  right: -8rem;

  display: flex;
  gap: 1.5rem;
  padding: 2rem 5rem;
  background-color: var(--very-dark-grayish-blue);
  color: var(--light-grayish-blue);
  border-radius: 1rem;
  opacity: 0;
  transition: opacity .2s;
}

.opacity {
  opacity: 1;
}

.component--socials::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 15px;
  background-color: var(--very-dark-grayish-blue);
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
}

.component--socials span {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.attribution {
  padding: 2rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 500px) {
  .container {
    padding: 2rem;
  }

  .component {
    flex-direction: column;
  }


  .component__img {
    height: 20rem;
  }

  .component__content {
    padding: 2rem 4rem;
  }

  .content--title {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0;

  }

  .content--description {
    font-size: 1.29rem;
    padding: 0;
  }

  .component--footer {
    margin-top: 2rem;
  }

  .share-icon {
    position: relative;
    top: 10px;
    z-index: 1;
  }

  .component--socials {
    position: relative;
    bottom: 6.1rem;
    right: 0rem;
    gap: 1.5rem;
    padding: 2rem 2rem;
    border-radius: 0 0 1rem 1rem;
  }

  .component--socials::after {
    display: none;
  }

}