*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background: hsl(240deg, 78%, 98%);
}

ul {
  list-style: none;
}

.container {
  padding: 2rem;
}

.bg-top,
.bg-bottom {
  position: fixed;
}

.bg-top {
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-bottom {
  bottom: 0;
  left: 0;
  z-index: -1;
}

/**************
    HEADER
****************/
.header {
  margin-bottom: 10rem;
  text-align: center;
}
.header .heading__primary {
  color: hsl(233deg, 13%, 49%);
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
.header--slider {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header .slider-left-side,
.header .slider-right-side {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(234deg, 14%, 74%);
}
.header .slider-container {
  background: linear-gradient(hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  height: 2rem;
  width: 4rem;
  padding: 0.3rem;
  border-radius: 2rem;
  cursor: pointer;
}
.header .slider-container .slider-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: hsl(240deg, 78%, 98%);
  transition: all 0.2s;
}
.header .slider-container .right {
  transform: translateX(100%);
}

/**************
    CARDS
****************/
.plans__box {
  overflow: hidden;
}
.plans__box .plans--cards {
  display: flex;
  align-items: center;
}
.plans__box .plans--cards .plan--card {
  background: white;
  padding: 2.5rem;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 30px hsla(236deg, 72%, 79%, 0.199);
}
.plans__box .plans--cards .plan--card .plan--header .plan--type {
  font-size: 1.3rem;
  color: hsl(233deg, 13%, 49%);
}
.plans__box .plans--cards .plan--card .plan--header .plan--price__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: hsl(232deg, 13%, 33%);
}
.plans__box .plans--cards .plan--card .plan--header .dollar-sign {
  font-size: 3.5rem;
}
.plans__box .plans--cards .plan--card .plan--header .plan--price {
  font-size: 6rem;
}
.plans__box .plans--cards .plan--card .plan__features {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: hsl(233deg, 13%, 49%);
}
.plans__box .plans--cards .plan--card .plan__features .plan--feature {
  border-top: 1px solid hsla(234deg, 14%, 74%, 0.35);
  padding: 1.5rem 8rem;
  font-weight: 600;
}
.plans__box .plans--cards .plan--card .plan__features .plan--feature:nth-child(3) {
  border-bottom: 1px solid hsla(234deg, 14%, 74%, 0.35);
}
.plans__box .plans--cards .plan--card:nth-child(1) {
  border-radius: 1rem 0 0 1rem;
}
.plans__box .plans--cards .plan--card:nth-child(2) {
  background: linear-gradient(130deg, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  padding: 5rem 2.5rem;
  border-radius: 1rem;
}
.plans__box .plans--cards .plan--card:nth-child(2) .plan--type,
.plans__box .plans--cards .plan--card:nth-child(2) .plan--price__box {
  color: white;
}
.plans__box .plans--cards .plan--card:nth-child(2) .plan__features {
  color: white;
}
.plans__box .plans--cards .plan--card:nth-child(2) .btn {
  background: white;
  color: hsl(237deg, 63%, 64%);
}
.plans__box .plans--cards .plan--card:nth-child(2) .btn:hover {
  background: transparent;
  color: white;
  border: 1px solid hsl(0deg, 0%, 100%);
}
.plans__box .plans--cards .plan--card:nth-child(3) {
  border-radius: 0 1rem 1rem 0;
}
.plans__box .plans--cards .btn:link,
.plans__box .plans--cards .btn:visited {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  background: linear-gradient(90deg, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  padding: 1rem 0;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.plans__box .plans--cards .btn:link:hover, .plans__box .plans--cards .btn:link:active,
.plans__box .plans--cards .btn:visited:hover,
.plans__box .plans--cards .btn:visited:active {
  border: 1px solid hsl(234deg, 14%, 74%);
  background: white;
  color: hsl(237deg, 63%, 64%);
}

/**************
    FOOTER
****************/
.attribution {
  padding: 2rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (max-width: 895px) {
  body {
    display: block;
  }
  .bg-top {
    top: -5rem;
    right: -20rem;
  }
  .bg-bottom {
    display: none;
  }
  .plans__box .plans--cards {
    flex-direction: column;
    gap: 2rem;
  }
  .plans__box .plans--cards .plan--card:nth-child(1),
.plans__box .plans--cards .plan--card:nth-child(3) {
    border-radius: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */