:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--cream);
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grayish-blue);
  height: 100vh;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: var(--very-dark-blue)
}

nav {
  text-align: center;
  margin: 2rem 0 5rem 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
}

main {
  display: grid;
  place-content: center;
}

.card {
  background-color: white;
  width: 60rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  gap: .5rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.12);

}

.card-img {
  width: 30rem;
  background: url(../images/image-product-desktop.jpg) center / cover no-repeat;
}

.card-product {
  padding: 3rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.product-subheading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.product-title {
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  line-height: 1;
  color: var(--very-dark-blue);
}

.product-description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.product--current-price {
  font-size: 3rem;
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
}

.product--original-price {
  font-size: 1.4rem;
  position: relative;
}

.product--original-price::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: var(--dark-grayish-blue);
}

.btn {
  border: none;
  padding: 1.5rem 0;
  border-radius: 1rem;
  background-color: var(--dark-cyan);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  background-color: #295746;
}

.btn-text {
  font-family: 'Montserrat', sans-serif;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

.attribution {
  font-size: 11px;
}

a:link,
a:visited {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 40rem) {}