:root {
  /* Primary colors text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient: */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  font-family: 'Kumbh Sans', sans-serif;
}

ul {
  list-style: none;
}

hr {
  border: 1px solid var(--light-grayish-blue);
}

/* =================
    NAVIGATION
  ================== */

nav a:link,
nav a:visited {
  text-decoration: none;
  color: var(--very-dark-blue)
}

nav {
  text-align: center;
  padding: 2rem 0 5rem 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
}

/* =================
    ACCORDION CARD
  ================== */

.container {
  position: relative;
  background-color: white;
  margin: 0 auto;
  max-width: 80rem;
  height: 427px;
  border-radius: 2rem;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);

  display: flex;
  gap: 3rem;
}

.container::before {
  content: '';
  position: absolute;
  z-index: 200;
  top: 19rem;
  left: -6rem;
  background-image: url(./images/illustration-box-desktop.svg);
  background-size: cover;
  height: 18%;
  width: 15%;
}

.illustration {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 50%;
}

.illustration img {
  z-index: 1;
  height: 70%;
  margin-left: -8rem;
}

.illustration::after {
  content: '';
  position: absolute;
  top: -25rem;
  left: -49rem;
  z-index: 0;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: cover;
  height: 70rem;
  width: 80rem;
}

.questions {
  padding: 5rem 5rem 5rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: scroll;
}

.questions__heading {
  font-size: 2.5rem;
  color: var(--very-dark-desaturated-blue);
}

.questions__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 2rem;
}

.questions__item {
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .2s;
}

.question:hover {
  color: var(--soft-red);
}

.question-open {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

ion-icon {
  color: var(--soft-red);
  transition: all .2s;
}

.questions__text {
  margin-top: 1rem;
  line-height: 1.4;
  transform: translateY(-100%);
  display: none;
  transition: .2s;

}

.open {
  display: block;
  transform: translateY(0);
}

.closed {
  display: none;
}

footer {
  margin: 3rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {
  main {
    display: grid;
    place-content: center;
  }

  .container {
    margin: 0 1rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 785px) {
  nav {
    padding-left: 2rem;
    text-align: left;
  }

  .container {
    margin: 5rem 2rem 0 2rem;
    flex-direction: column;
    gap: 0rem;
    width: 33rem;
    height: 45rem;
    padding: 2rem;
  }

  .container::before {
    content: '';
    background-image: url(./images/illustration-woman-online-mobile.svg);
    z-index: 0;
    top: -11.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    height: 19.1rem;
    width: 25.1rem;
  }

  .illustration {
    position: relative;
    display: block;
    /* overflow: visible; */
    height: 8rem;
    width: 100%;

  }

  .illustration img {
    display: none;
  }

  .illustration::after {
    background: none;
  }

  .questions::before {
    content: '';
    position: absolute;
    background-image: url(/03accordionCard/images/bg-pattern-mobile.svg);
    background-size: cover;
    top: -1.5rem;
    left: 3.8rem;
    z-index: 1;
    height: 11rem;
    width: 25.5rem;
  }

  .questions {
    width: 100%;
    padding: 0.5rem;
    gap: 2.5rem;
  }

  .questions__items {
    padding: 0;
  }

  .questions__item {
    font-size: 1.4rem;
  }

  .questions__heading {
    text-align: center;
  }
}