@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  background: var(--pale-blue);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  max-width: 40rem;
  border-radius: 2rem;
  overflow: hidden;
}

.card__content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
}

.card--title {
  color: var(--dark-blue);
}

.card--description {
  padding: 0 1rem;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  color: var(--desaturated-blue);
}

.card__plan-box {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: hsla(228, 45%, 44%, 0.042);
  border-radius: 1.5rem;
}

.plan--type {
  display: block;
  font-size: 1.4rem;
  font-weight: 900;
}

.plan--price {
  display: block;
  font-size: 1.4rem;
  color: var(--desaturated-blue)
}

.card__plan-box a {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
  padding-left: 3rem;
}

.card__buttons-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0;
}

.btn--payment {
  background: var(--bright-blue);
  color: var(--very-pale-blue);
  text-align: center;
  display: inline-block;
  padding: 1.3rem 0;
  border-radius: 1rem;
  box-shadow: 0 10px 40px hsla(228, 45%, 44%, 0.6);
}

.btn--cancel {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--desaturated-blue);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}