@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  /* Primary */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* Neutral */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* Typography */
  --ff-body: 'Karla', sans-serif;
  --ff-heading: 'DM Serif Display', serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 12rem;
}

.grid {
  display: grid;
}

.container {
  padding: 0 2.5rem;
}

.btn {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  border: 1px solid white;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
}

/* =======================
      HEADER
   ======================= */


header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.15);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem;

}

.header-nav {
  position: absolute;
  background-color: var(--very-dark-violet);
  top: 7.6rem;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.nav-items {
  position: relative;
  padding: 4rem 2rem 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-items li {
  width: 100%;
  text-align: center;
}

.nav-item-link,
.nav-item-link-plan {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;
}

.nav-item-link-plan:link,
.nav-item-link-plan:visited {
  display: inline-block;
  border: 2px solid white;
  color: white;
  width: 100%;
  padding: 1.5rem 0;
}

.pattern-mobile-nav {
  position: absolute;
  bottom: 7.5rem;
  left: 0;
  width: 100%;
}

.btn-nav {
  background: none;
  border: none;
  cursor: pointer;
}

.open {
  transform: translateX(0);
  opacity: 1;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/* =======================
      HERO SECTION
   ======================= */
.section--hero {
  padding-top: 7.5rem;
  background-color: var(--dark-violet);
  color: white;
}

.section--hero__img img {
  width: 100%;
}

.section--hero__content-box {
  padding: 9rem 0;
  position: relative;

}

.hero-pattern-left {
  position: absolute;
}

.hero-pattern-right {
  position: absolute;
  bottom: -54rem;
  right: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.hero__heading {
  font-size: 4.5rem;
  line-height: 1;
}

.hero__description {
  line-height: 1.8;
}

/* =======================
      SERVICES SECTION
   ======================= */
.section--services {
  position: relative;
  color: var(--very-dark-violet);
}

.section--services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background-color: hsl(296, 15%, 59%);
}


.section--services__heading {
  padding: 3rem 0 6rem 0;
  font-size: 4.5rem;
  text-align: center;
}

.services-items-box {
  grid-template-columns: 1fr;
  gap: 5rem;
  text-align: center;
}

.services-items-box img {
  margin-bottom: 2rem;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.services-item-title {
  font-size: 3rem;
}

.services-item-description {
  line-height: 1.5;
  color: var(--dark-grayish-violet);
}


/* =======================
      FIND OUT SECTION
   ======================= */

.findout-content-box {
  position: relative;
  padding: 7rem 2rem;
  margin: 0 2.5rem;
  background-color: var(--dark-violet);
}

.findout-pattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.findout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  z-index: 1;
}

.findout-heading {
  text-align: center;
  line-height: 1;
  font-size: 4rem;
  color: white;
}

/* =======================
      FOOTER
   ======================= */
.footer-socials-box {
  position: relative;
  background: linear-gradient(rgb(244, 244, 244), transparent);
  z-index: 1;
}


.footer-socials {
  padding: 6rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

}

.footer-pattern {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.footer-socials::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: rgb(210, 210, 210);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-nav {
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.nav-col {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.footer-heading {
  color: var(--dark-grayish-violet);
  padding: 3rem 0;
  font-weight: 700;
}


.footer-nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link {
  color: hsl(256, 27%, 31%);
  font-weight: 700;
}

.attribution {
  padding: 2rem 0;
  font-size: 11px;
  text-align: center;
  font-family: var(--font-body);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 45em) {
  .section--hero {
    position: relative;
    display: flex;
  }

  .section--hero__img {
    display: inline-block;
    order: 2;
    align-self: center;
  }

  .hero-container {
    width: 50%;
    align-self: center
  }

  .hero__content {
    text-align: left;
  }

  .hero__heading {
    font-size: 3.5rem;
  }

  .hero__description {
    font-size: 1.4rem;
  }

  .hero-pattern-right {
    display: none;
  }

  .btn {
    font-size: 1.3rem;
  }

  /* =======================
      SERVICES SECTION
   ======================= */

  .section--services::before {
    width: 15%;
    left: 3.5%;
    transform: translateX(0);
  }

  .section--services__heading {
    font-size: 3.5rem;
    text-align: left;
  }

  .services-items-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }

  .services-items-box img {
    margin-bottom: 1rem;
    width: 6rem;
  }

  .services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .services-item-title {
    font-size: 2.5rem;
  }

  .services-item-description {
    font-size: 1.4rem;
  }
}



@media screen and (min-width: 50em) {
  .container {
    padding: 0 3.5rem;
  }

  .btn {
    font-size: 1.4rem;
  }

  .main-header {
    padding: 1.5rem 2.5rem;
  }

  .header-nav {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(0);
    opacity: 1;
    background: none;
  }

  .nav-items {
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
  }

  .nav-items li {
    text-align: left;
    width: auto;
  }


  .nav-item-link,
  .nav-item-link-plan {
    font-size: 1.2rem;
    color: hsl(273, 4%, 51%);
  }

  .nav-item-link:hover {
    color: var(--very-dark-violet)
  }

  .nav-item-link-plan:link,
  .nav-item-link-plan:visited {
    display: inline-block;
    border: 2px solid var(--dark-violet);
    color: var(--dark-violet);
    width: 100%;
    padding: 1rem 2rem;
  }

  .nav-item-link-plan:hover {
    color: white;
    background: var(--very-dark-violet);
    transition: all .2s;

  }

  .pattern-mobile-nav {
    display: none;
  }

  .btn-nav {
    display: none;
  }
}


@media screen and (min-width: 63em) {
  .btn:hover {
    color: var(--very-dark-violet);
    background: white;
    transition: all .2s;
  }

  .container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0;
  }

  .main-header {
    max-width: 110rem;
    margin: 0 auto;
    padding: 1.5rem 0;
  }



  /* =======================
      HERO SECTION
   ======================= */
  .section--hero {
    padding: 8rem 0;
    position: relative;
    display: flex;
    margin-bottom: 30rem;
  }

  .section--hero__img {
    position: absolute;
    top: 18rem;
    right: 16rem;
  }

  .hero-container {
    width: 100%;
  }

  .section--hero__content-box {
    width: 50%;
  }

  .hero-content {
    align-items: flex-end;
  }

  .hero__heading {
    position: relative;
    padding-right: 2rem;
    font-size: 7rem;
    margin-top: 6rem;
  }

  .hero__heading::before {
    content: '';
    position: absolute;
    top: -5rem;
    left: 0;
    width: 28%;
    height: 1px;
    background-color: white;
  }

  .hero__description {
    font-size: 1.6rem;
  }

  .hero-pattern-left {
    bottom: -33rem;
    left: 0;
  }

  .hero-pattern-right {
    display: block;
    top: 0;
    right: 0;
  }



  .btn {
    font-size: 1.6rem;
  }

  /* =======================
      SERVICES SECTION
   ======================= */

  .section--services::before {
    width: 10%;
    left: 11.5%;
  }

  .section--services__heading {
    font-size: 6.5rem;
    text-align: left;
  }

  .services-items-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    text-align: left;

  }

  .services-items-box img {
    margin-bottom: 1rem;
    width: 25%;
  }

  .services-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .services-item-title {
    font-size: 3rem;
  }

  .services-item-description {
    font-size: 1.6rem;
  }

  /* =======================
      FIND OUT SECTION
   ======================= */

  .findout-content-box {
    max-width: 110rem;
    margin: 0 auto;
    padding: 7rem 8rem;
  }

  .findout-pattern {
    height: 100%;
  }

  .findout-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .findout-heading {
    width: 47%;
    text-align: left;
    line-height: 1;
    font-size: 5rem;
    color: white;
  }

  /* =======================
      FOOTER
   ======================= */
  .footer-socials {
    max-width: 110rem;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-link img {
    transition: .2s;

  }

  .social-link:hover img {
    transform: translateY(-3px);
  }

  .footer-pattern {
    width: auto;
  }

  .footer-nav {
    max-width: 110rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }

  .footer-link:hover {
    text-decoration: underline;
  }
}